/* Themes */

:root {
    --pallete: white;
    --gray-0: gray;
}

.light {

}

.dark {

}

.solar {

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

.navbar {
    height: 70px;
    width: 100%;
    background: black;
    color: white;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

header {
    padding: 1em;
    background: pink;
    margin-bottom: 1em;
    padding-bottom: 3.5em;
    text-align: center;
    clip-path: polygon(50% 0%, 100% 0%, 100% 65%, 50% 100%, 0 65%, 0 0);
}
.dropdown {
    position: absolute;
    width: 500px;
    opacity: 0;
    z-index: 2;
    background: blue;
    border-top: 2px solid white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5rem;
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
    transform: translateX(-43%);
    transition: opacity 0.15s ease-out;
}

.dropdown-item a {
    width: 100%;
    height: 100%;
    size: 0.7rem;
    padding-left: 10px;
    font-weight: bold;
}

.dropdown-item a::before {
    content: ' ';
    border: 2px solid white;
    border-radius: 50%;
    width: 0.6rem;
    height: 0.6rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.has-dropdown:focus-within .dropdown{
    opacity: 1;
    pointer-events: auto;
}